PORT=8000
TZ=UTC

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db_fastapi:5432/store_fastapi
REDIS_URL=redis://redis_fastapi:6379

JWT_SECRET=super_secret_jwt_key_store_fastapi_2026
JWT_ALGORITHM=HS256
JWT_EXPIRATION=3600
REFRESH_TOKEN_EXPIRATION=604800

ENVIRONMENT=development
